div#docs-root blockquote.sbdocs-blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div#docs-root h2.sbdocs-h2 {
  margin-top: 2rem;
}

div#docs-root div.docblock-source {
  margin: 1.5rem 0;
}

div#docs-root table.sbdocs-table tr th,
div#docs-root table.sbdocs-table tr td {
  padding: 0.125rem 0.5rem;
}

div#docs-root table.sbdocs-table tr th,
div#docs-root table.sbdocs-table tr td {
  border-color: #e5e5e5;
}

div#docs-root table.sbdocs-table tr code {
  padding: 3px 5px;
}

div#docs-root table.sbdocs-table tr code {
  border: 1px solid #eeeeee;
  background-color: #f8f8f8;
  border-radius: 3px;
}

div#docs-root table.sbdocs-table thead tr {
  background-color: #e5e5e5;
}

div#docs-root h3.sbdocs-h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div#docs-root h4.sbdocs-h4 {
  margin: 0;
  margin-bottom: 0.25rem;
}

div#docs-root h4.sbdocs-h4 + p {
  margin-top: 0;
}

div#docs-root pre > code {
  border: none;
}

div#docs-root div.docblock-source,
div#docs-root div.docblock-source code {
  background: #151515;
  color: #fff;
}

div#docs-root
  div.simplebar-content-wrapper
  > div.simplebar-content
  > pre
  > code {
  background: none;
  border: none;
}

div#docs-root div.docblock-source code span.token.punctuation {
  color: #8791a2;
}

div#docs-root div.docblock-source code span.token.operator {
  color: #8e8282;
}

div#docs-root div.docblock-source code span.token.string {
  color: #d28635;
}

div#docs-root div.docblock-source code span.token.keyword {
  color: #2b92ff;
}

div#docs-root div.docblock-source code span.token.boolean {
  color: #efd935;
}

div#docs-root div.docblock-source code span.token.maybe-class-name,
div#docs-root div.docblock-source code span.token.class-name {
  color: #32dcbd;
}

div#docs-root div.docblock-source code span.token.function {
  color: #00abff;
}

div#docs-root div.docblock-source code span.token.variable {
  color: #9b55e6;
}

div#docs-root div.docblock-source code span.token.tag {
  color: #71d04b;
}

div#docs-root div.docblock-source code span.token.comment {
  color: #19ad19;
}

div#docs-root div.docblock-source code span.token.attr-name {
  color: #b97ad2;
}

div#docs-root div.docblock-source code span.token.attr-value {
  color: #8d859a;
}

body > div#docs-root div.sbdocs-preview {
  background: #222;
}

div#docs-root div.docblock-source > div:last-child,
div#docs-root div.docblock-source > div:last-child > button {
  background: #333;
  color: #eee;
}
